body{
    position: relative;
    margin: 0;
    background-color: MintCream;
    font-family: 'Patrick Hand', cursive;
    

}

h1{
    font-size: 80px;
    display: flex;
    text-align: center;
    
}
h2{
    font-size: 30px;
}

p{
    font-size: 20px;
}

nav{
    background-image: linear-gradient(DarkTurquoise, Aqua);
    position: relative;
    display: flex;
    justify-content: center;
}

nav h1{
    margin-top: 7vh;
    color: Aqua / Cyan;
    

}

.valorX{
    margin: 3px;
    width: auto;
}

.placar{
    background-color: Indigo;
    align-items: center;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
    color: thistle;
}

.placar h1{
    margin: 0;
}

.valores{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.valores div{
    align-items: center;
    display: flex;
    flex-direction: column;

}


section{
    
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    margin: 10px;
    align-items: center;

}

.linhas{
    display: flex;
    justify-content: center;
    height: 100%;
    ;

}

.linhas div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60pt;
    height: 100%;
    justify-content: center;
    width: 170px;
    border-radius: 10px;
}

.borda1{
    border-top: 5px solid black;
    border-radius: 20px;

}

.borda2{
    border-right: 5px solid black;
}

footer{
    background-color: MistyRose;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 0 0;
}

footer p{
    color: black;
    font-size: 12pt;
}

#botao-limpar{
    background-color: Aquamarine;
    border: rgb(85, 61, 9);
    border-radius: 10px;
    color: black;
    margin: 10px 10px;
    padding: 15px;
}

#botao-recomecar{
    background-color: rgb(179, 67, 39);
    border: rgb(85, 61, 9);
    border-radius: 10px;
    color: black;
    margin: 10px 10px;
    padding: 15px;
}